@import '../../../styles/variables';

.Pin{
  color: white;

  .pinCards{
    border: 2px solid $mutedNavy;
    border-radius: 30px;
    background-color: rgba(45, 46, 58, 0.452);
    position: relative;

    .deleteBtn{
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .card-img{
      border: 1px solid $mutedNavy;
      border-radius: 30px 30px 0 0 ;
    }
  }
}